/* =============================================
   Contacto — Intro
   ============================================= */

   .ct-intro {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    height: 70vh;
    /* padding: 48px 24px; */
    padding-top: 25vh;
    box-sizing: border-box;
    /* margin-top: 20vh; */
    /* padding-top: 30vh; */

    /* background-color: var(--contrast-combination);
    background-color: var(--medium-blue); */

}

/* --- Foto (izquierda) --- */

.ct-intro__foto-wrapper {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ct-intro__foto {
    aspect-ratio: 4 / 5;
    height: 100%;
    overflow: hidden;
}

.ct-intro__foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* --- Contenido (derecha) --- */

.ct-intro__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-content: center;

    gap: 24px;
    padding-bottom: 8px;
}

.ct-intro__titulo {
    margin: 0;
    font-family: var(--serif);

    color: var(--light-color);
}

.ct-intro__subtitulo {
    margin: 0;
    font-size: 16px;
    line-height: 1.2;
    color: var(--dark-color);
    max-width: 300px;

    color: var(--light-color)

}



@media ( max-width: 1024px ) {

    .ct-intro {
        flex-direction: column;
        height: auto;
        padding-top: 18vh;
        gap: 2rem;
    }

    .ct-intro__foto-wrapper {
        justify-content: center;
        overflow: hidden;
    }

    .ct-intro__foto {
        height: auto;
        width: 70%;
        aspect-ratio: 4 / 5;
    }

    .ct-intro__content {
        padding: 24px 24px 40px 24px;
    }

}