/* =============================================
   Protocolos — Info
   ============================================= */

   .pr-info {
    display: flex;
    flex-direction: row;
    background: #000;

    color: var(--light-color);
    min-height: 100vh;
    gap: 4rem;
}

/* --- Imagen (15%) --- */

.pr-info__imagen {
    flex: 0 0 30%;
    overflow: hidden;
    aspect-ratio: 4 / 5;}

.pr-info__imagen img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

/* --- Contenido (70%) --- */

.pr-info__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
    padding: 80px 80px 80px 64px;
    max-width: 700px;

}

.pr-info__descripcion {
    margin: 0;
    font-size: 20px;
    line-height: 1.4;
    max-width: 700px;
    color: var(--light-color);
    letter-spacing: -1px;

}

/* --- Indicados --- */

.pr-info__indicados {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.pr-info__indicados-titulo {
    margin: 0;
    font-size: 18px;
    letter-spacing: -1px;
    font-weight: 400;
    color: var(--light-color);

}

.pr-info__indicados-lista {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* max-width: 800px; */
}

.pr-info__indicados-lista li {
    font-size: 18px;
    color: var(--light-color);
    padding: 7px 0;
    /* border-bottom: 1px solid rgba(255,255,255,0.15); */
    border-bottom: 1px solid var(--light-color);
letter-spacing: -1px;
    display: flex;
    align-items: center;
    gap: 12px;
}

/* .pr-info__indicados-lista li::before {
    content: '—';
    color: rgba(255,255,255,0.4);
    flex-shrink: 0;
} */

/* .pr-info__indicados-lista li:first-child {
    border-top: 1px solid rgba(255,255,255,0.15);
} */



@media ( max-width: 1024px ) {

    .pr-info {
        flex-direction: column;
        min-height: auto;
    }

    .pr-info__imagen {
        flex: none;
        padding-top: 2rem;
        width: 100%;
        aspect-ratio: 1 / 1;
    }

    .pr-info__content {
        padding: 40px 24px 100px 24px;
        gap: 32px;
    }

    .pr-info__descripcion {
        font-size: 20px;
    }

    .pr-info__indicados-titulo {
        font-size: 18px;
    }

    .pr-info__indicados-lista li {
        font-size: 16px;
    }
}