/* =============================================
   Header
   ============================================= */

   .header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 10px 24px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    /* background: var(--light-color); */
    background: transparent;
    height: 13vh;
    /* transition: height 0.3s ease; */
    transition: height 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.header:hover {
    /* color: var(--dark-color); */
    background: var(--light-color);
}

.header:hover .header__nav-link,
.header:hover .header__logo-link {
    color: var(--dark-color);
}

.header__nav-link {
    letter-spacing: -1px;
}
.header.is-scrolled {
    height: auto;
}

/* --- Logo (18%) --- */

.header__logo {
    flex: 0 0 18%;
}

.header__logo-link {
    font-size: 90px;
    color: var(--dark-color);
    text-decoration: none;
    line-height: 1;
    /* transition: font-size 0.3s ease; */
    display: block;
    font-family: var(--serif);
    transition: font-size 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(10px); 
    letter-spacing: -0.3rem;
}

.header.is-scrolled .header__logo-link {
    font-size: 36px;
    transform: translateY(2px);
    letter-spacing: -0.2rem;


}

.header__nav-izq {
    visibility: hidden;
}





/*particularidades*/
.page-contacto .header__nav-link,
.page-contacto .header__logo-link {
    color: var(--light-color);
}


.single-protocolos .header__nav-link,
.single-protocolos .header__logo-link {
    color: var(--light-color);
}


.header--light .header__nav-link,
.header--light .header__logo-link {
    color: var(--light-color);
}





.header--light .header__nav-der .header__nav-link {
    color: var(--light-color);
}
.header--light:hover .header__nav-link,
.header--light:hover .header__logo-link {
    color: var(--dark-color);
}
.header--light .header__logo-link {
    color: var(--dark-color);
}




/* BM: todo blanco */
.header--light-bm .header__nav-link,
.header--light-bm .header__logo-link {
    color: var(--light-color);
}

/* Home: solo nav der en blanco, logo dark */
.header--light-home .header__nav-der .header__nav-link {
    color: var(--light-color);
}

.header--light-home .header__logo-link {
    color: var(--light-color);
}

/* Hover en ambos casos vuelve a dark */
.header--light-bm:hover .header__nav-link,
.header--light-bm:hover .header__logo-link,
.header--light-home:hover .header__nav-link,
.header--light-home:hover .header__logo-link {
    color: var(--dark-color);
}


/* .page-somos .header__nav-link,
.page-somos .header__logo-link {
    color: var(--light-color);
} */