/* =============================================
   Header
   ============================================= */

   .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 24px;
    /* gap:3rem; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: var(--light-color);
}

/* --- Logo (15%) --- */

.header__logo {
    flex: 0 0 18%;
}

.header__logo-link {
    font-family: var(--serif);
    font-size: 36px;
    color: var(--dark-color);
    text-decoration: none;
    line-height: 1;
}

/* --- Nav (85%) --- */

.header__nav {
    flex: 0 0 82%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header__nav-izq {
    display: flex;
    align-items: center;
}

.header__nav-der {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.header__nav-link {
    font-size: 15px;
    color: var(--dark-color);
    text-decoration: none;
    transition: opacity 0.2s ease;
}

.header__nav-link:hover {
    opacity: 0.5;
}