/* =============================================
   Eventos — Modal
   ============================================= */

/* .ev-modal {
    position: fixed;
    bottom: 32px;
    left: 32px;
    z-index: 50;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 0;
    background: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    overflow: hidden;
    height: 160px;

}


.ev-modal__imagen {
    flex-shrink: 0;
    align-self: stretch;
    aspect-ratio: 4 / 5;
    overflow: hidden;
}

.ev-modal__imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.ev-modal__info {
    padding: 20px 25px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.ev-modal__lugar {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.05em;
    color: var(--dark-color);
    font-family: var(--serif);
}

.ev-modal__fecha,
.ev-modal__horario {
    margin: 0;
    font-size: 15px;
    color: var(--dark-color);
}

.ev-modal__clientes {
    margin: 8px 0 0 0;
    font-size: 13px;
    color: var(--dark-color);
}



@media (max-width: 1024px) {

    .ev-modal {
        bottom: 24px;
        left: 24px;
        right: 24px;
        height: 170px;
    }

    .ev-modal__info {
        min-width: 0;
        flex: 1;
        padding: 16px 20px;
    }
} */




/* =============================================
   Eventos — Modal
   ============================================= */

   .ev-modal {
    position: fixed;
    bottom: 32px;
    left: 32px;
    z-index: 50;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 0;
    background: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    overflow: hidden;
    width: 30%;
}

.ev-modal__imagen {
    flex-shrink: 0;
    width: 30%;
    aspect-ratio: 4 / 5;
    overflow: hidden;
}

.ev-modal__imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.ev-modal__info {
    flex: 1;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    min-width: 0;
}

.ev-modal__lugar {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.05em;
    color: var(--dark-color);
    font-family: var(--serif);
}

.ev-modal__fecha,
.ev-modal__horario {
    margin: 0;
    font-size: 15px;
    color: var(--dark-color);
}

.ev-modal__clientes {
    margin: 8px 0 0 0;
    font-size: 13px;
    color: var(--dark-color);
}

@media ( max-width: 1024px ) {

    .ev-modal {
        bottom: 24px;
        left: 24px;
        right: 24px;
        width: auto;
    }

    .ev-modal__info {
        padding: 16px 20px;
    }
}