.producto-descripcion {
    display: flex;
    flex-direction: column;
    padding-top: 40vh;
    line-height: 1.3;
    letter-spacing: -1px;
    /* flex: 1; */
    /* gap: 5rem */
    /* padding: 0 24px 0 24px; */
}

@media ( max-width: 1024px ) {

    .producto-descripcion {
        padding-top: 0;
        padding: 1.5rem 24px;
    }
}