/* =============================================
   Producto single — Intro
   ============================================= */

   .producto-intro {
    display: flex;
    flex-direction: column;
    padding-top: 40vh;
    gap: 3rem;
    /* flex: 1; */
    /* padding: 0 24px 0 24px; */
}

.producto-intro__top {
    display: flex;
    flex-direction: column;
}

.producto-intro__info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1.5rem;
}


.producto-intro__marca,
.producto-intro__precio,
.producto-intro__titulo h1{
    font-family: var(--sans-serif);
        color: var(--dark-color);
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: -1px;
}

.producto-intro__titulo h1{
    margin: 0;
    padding: 0;
    text-transform: none;
}

.producto-intro__tamano,
.producto-intro__titulo h1 {
    opacity: 0.7;
    font-size: 16px;
}



/* =============================================
   Producto single — Intro
   ============================================= */

   .producto-intro__cta .single_add_to_cart_button {
    display: block;
    /* width: 100%; */
    background-color: var(--dark-color);
    color: var(--light-color);
    border: none;
    padding: 0.5rem 3rem;
    font-family: var(--sans-serif);
    font-size: 16px;
    letter-spacing: -0.5px;
    cursor: pointer;
    text-align: center;
    transition: opacity 0.2s ease;
}

.producto-intro__cta .single_add_to_cart_button:hover {
    opacity: 0.8;
}

@media ( max-width: 1024px ) {

    .producto-intro {
        padding-top: 2rem;
        padding: 1.5rem 24px;
        gap: 2rem;
        width: 100%;
    }

    .producto-intro__cta {
        width: 100%;
    }

    .producto-intro__cta .single_add_to_cart_button {
        width: 100%;
        padding: 1rem;
        box-sizing: border-box;
    }
}